<h2>Gestión de Platos</h2>

<!-- Lista de Platos -->
<div *ngIf="platos.length > 0">
  <h3>Lista de Platos</h3>
  <ul>
    <li *ngFor="let plato of platos">
      {{ plato.nombre }} - {{ plato.descripcion }} - ${{ plato.precio }}
      <button (click)="deshabilitarPlato(plato.id)" *ngIf="plato.disponible">Deshabilitar Plato</button>
      <span *ngIf="!plato.disponible" style="color: red;">(No disponible)</span>


      <button (click)="habilitarPlato(plato.id)" *ngIf="!plato.disponible">habilitar Plato</button>
      <span *ngIf="!plato.disponible" style="color: rgb(22, 23, 22);">(disponible)</span>
    </li>
  </ul>
</div>
